.top {
	 position: fixed;
	 top: 0px;
	 border-right-width: thin;
	 border-bottom-width: thin;
	 border-left-width: thin;
	 border-right-style: solid;
	 border-bottom-style: solid;
	 border-left-style: solid;
	 border-right-color: #333;
	 border-bottom-color: #333;
	 border-left-color: #333;
	 padding: 5px;
	 margin:0px;
	 background-color: #CCC;
	 color: #333;
	 font-weight: bold;
	 right: 80px;
	 cursor:pointer;
}